<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
    <body>
        <div class="container">
            <h3 class="text-muted">QR Codes 'r Us</h3>
            @Html.Partial("_LoginPartial")
            <ul class="nav nav-justified">
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Code generator", "Index", "CodeGeneration")</li>
                <li>@Html.ActionLink("Set a reminder", "Index", "Reminder")</li>
            </ul>
        </div>

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - QR Codes 'r Us</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/validation")
        @Scripts.Render("~/bundles/app")
        @RenderSection("scripts", required: false)
    </body>
</html>
