@model QRCodesRUs.Web.ViewModels.ReminderViewModel

@using (Html.BeginForm("Index", "Reminder", null, FormMethod.Post, new { role = "form" }))
{
    <div class="date-span-selection">
        <div>
            Send me a reminder in
            <span id="date-span-selection-value">@Model.NumericValue</span>

            @Html.TextBoxFor(m => m.NumericValue, new { id = "date-span-selection-value-input", type = "number" })

            <span id="date-span-selection-unit">@Model.DisplayValueForUnit</span>

            @Html.DropDownListFor(m => m.DateUnit, Model.UnitOptions, new { id = "date-span-selection-unit-select" })
        </div>
        <div>
            @if (Model.HasReminder)
            {
                <a href="@Url.Action("RemoveReminder")" class="btn btn-danger">Remove reminder</a>
            }
            <button type="submit" class="btn btn-default">Save reminder</button>
        </div>
    </div>
}

@section scripts
{
    <script type="text/javascript">
        window.onload = reminderApp;
    </script>
}